@import url('https://fonts.googleapis.com/css?family=Commissioner&display=swap');

:root {
    font-size: 16px;
    --purple-primary: #9999ff;
    --purple-secondary: #5151FB;
    --nav-height: 1em;
}

body {
    margin-left: 1vw;
    margin-right: 1vw;
}

/*===== NAV =====*/
.menu {
    box-sizing: border-box;
    width: 98vw;
    position: fixed;
    top: 0px;
    background-color: white;
    z-index: 999;
  
}

.nav-bar {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5em 5em .25em 5em;
    border-bottom: 2px solid var(--purple-primary);
    margin: 0;
}

.nav-link {
    font-family: 'Commissioner', sans-serif;
    display: block;
    color: var(--purple-primary);
    text-align: center;
    text-decoration: none;
    padding-bottom: .25em;
    border-bottom: 2px solid transparent;
}

.nav-signature {
    width: 40%;
    height: auto;
}
    
.underline:hover {
    display: inline-block;
    position: relative;
    text-decoration: none;
    padding-bottom: .25em;
    border-bottom: 2px solid var(--purple-primary);
}

/*===== HOME =====*/
.home-container {
    height: calc(100vh - var(--nav-height));
    position: relative;
    top: 4em;
    font-family: 'Commissioner', sans-serif;
    font-size: 3rem;
    color: var(--purple-primary);
}

.home-subtitle {
    display: inline;
    color: var(--purple-secondary);
}

/*===== ABOUT =====*/
.about-header {
    background-color: var(--purple-primary);
    color: white;
    border-radius: 2em;
    text-align: center;
}



