@import url('https://fonts.googleapis.com/css?family=Commissioner&display=swap');

:root {
    font-size: 16px;
    --purple-primary: #9999ff;
    --purple-secondary: #5151FB;
    --nav-height: 1rem;
}

body {
    margin-left: 1vw;
    margin-right: 1vw;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

/*===== NAV =====*/
.menu {
    box-sizing: border-box;
    width: 98vw;
    position: fixed;
    top: 0px;
    background-color: white;
    z-index: 999;
}

.nav-bar {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 5rem .25rem 5rem;
    border-bottom: 2px solid var(--purple-primary);
    margin: 0;
}

.nav-link {
    font-family: 'Commissioner', sans-serif;
    display: block;
    color: var(--purple-primary);
    text-align: center;
    text-decoration: none;
    border-bottom: 2px solid transparent;
}

.nav-signature {
    width: 40%;
    height: auto;
}
    
.underline:hover {
    display: inline-block;
    position: relative;
    text-decoration: none;
    padding-bottom: .25rem;
    border-bottom: 2px solid var(--purple-primary);
}

/*===== HOME =====*/
.home {
    height: 100vh;
    text-align: center;
}

.home-container {
    position: relative;
    top: 13rem;
    font-family: 'Commissioner', sans-serif;
    font-size: 3rem;
    color: var(--purple-primary);
}

.home-header1 {
    font-size: 3rem;
}

.home-subtitle {
    display: inline;
    color: var(--purple-secondary);
}

/*===== ABOUT =====*/
.about-header {
    font-family: 'Commissioner', sans-serif;
    color: var(--purple-secondary);
    text-align: center;
}

.about-container {
    height: calc(100vh - .75rem);
    font-size: 3rem;
    position: relative;
    top: 6rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.about-description {
    color: var(--purple-primary);
}


/*===== MY WORK =====*/
.mywork-header {
    font-family: 'Commissioner', sans-serif;
    color: var(--purple-secondary);
    text-align: center;
    margin-bottom: 3rem;
}

.mywork-container {
    height: calc(100vh - .75rem);
    font-size: 3rem;
    position: relative;
    top: 6rem;
}

.mywork-grid {
    position:relative;
    margin-left: auto;
    margin-right: auto;
    width: 77rem;
    display:grid;
    grid-row-gap: 1rem;
    grid-column-gap: 1rem;
    grid-template-columns: 25rem 25rem 25rem;
    grid-template-rows: 15rem 15rem;
}

.mywork-griditem1 {
    display:flex;
    flex-direction: column;
    text-align: center;
    color: var(--purple-secondary);
    background-color: #E5E5FE;
    border-radius: 2.5%;
}

.mywork-griditem1 :focus{
    position: absolute;
    z-index: 2;
    width: 77rem;
    height: 31rem;
    background-color: #E5E5FE;
    border-radius: 2.5%;
}


.mywork-griditem2 {
    display:flex;
    flex-direction: column;
    text-align: center;
    color: var(--purple-secondary);
    background-color: #E5E5FE;
    border-radius: 2.5%;
}

.mywork-griditem2 :focus{
    position: absolute;
    right: 0rem;
    bottom: 0rem;
    z-index: 2;
    width: 77rem;
    height: 100%;
    background-color: #E5E5FE;
}


.mywork-griditem3 {
    display:flex;
    flex-direction: column;
    text-align: center;
    color: var(--purple-secondary);
    background-color: #E5E5FE;
    border-radius: 2.5%;
}

.mywork-griditem3 :focus{
    position: absolute;
    right: 0rem;
    z-index: 2;
    width: 77rem;
    height: 100%;
    background-color: #E5E5FE;
}

.mywork-griditem4 {
    display:flex;
    flex-direction: column;
    text-align: center;
    color: var(--purple-secondary);
    background-color: #E5E5FE;
    border-radius: 2.5%;
}

.mywork-griditem4 :focus{
    position: absolute;
    bottom: 0rem;
    z-index: 2;
    width: 77rem;
    height: 100%;
    background-color: #E5E5FE;
}

.mywork-griditem5 {
    display:flex;
    flex-direction: column;
    text-align: center;
    color: var(--purple-secondary);
    background-color: #E5E5FE;
    border-radius: 2.5%;
}

.mywork-griditem5 :focus{
    position: absolute;
    right: 0rem;
    bottom: 0rem;
    z-index: 2;
    width: 77rem;
    height: 100%;
    background-color: #E5E5FE;
}

.mywork-griditem6 {
    display:flex;
    flex-direction: column;
    text-align: center;
    color: var(--purple-secondary);
    background-color: #E5E5FE;
    border-radius: 2.5%;
}

.mywork-griditem6 :focus{
    position: absolute;
    right: 0rem;
    bottom: 0rem;
    z-index: 2;
    width: 77rem;
    height: 100%;
    background-color: #E5E5FE;
}


.item-title {
    margin: 0;
}

.item-subtitle {
    margin: 0;
}

/*===== MY WORK =====*/
.contactme-header {
    font-family: 'Commissioner', sans-serif;
    color: var(--purple-secondary);
    text-align: center;
}

.contactme-container {
    height: calc(100vh - .75rem);
    font-size: 3rem;
    position: relative;
    top: 6rem;
}
